.portada-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 5, 0.9);
    overflow: hidden;
   /* background-color: rgba(16, 16, 16, 0.526);*/
   
}

.video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.98);
   
}

.portada-container>h1 {
    
    color: #fff;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.portada-container>p {
    
    color: #fff;
    margin-top: 18px;
    font-size: 30px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);

}
.html{
    color:rgb(246, 153, 63);
}
.javascript{
    color:rgb(255, 237, 74);
}
.react{
    color:#61dafb;
}

/*TIPEIT CURSOR*/
.typeit-cursor{
    --ti-cursor-color: rgb(184, 108, 1);
    --ti-cursor-font-size: 25px
}

/*PROJECTS BUTTON*/



.projects-btn{
    
    width: 80px;
    height: 40px;
    color: #e0e0e0 ;
    background: rgba(0,0,0,0);
    border-radius: 5px 5px 5px 5px;
    border: 2px solid;
    border-color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 8px;
    font-size: 15px;
    top: 72%;
    left: 50%;
    margin:25px;
   
  
}


.projects-btn:hover{
    background-color: rgb(184, 108, 1);
    transition: all 1s ease;

    
}

/*ICONS PROGRAMMER*/
.icons-container{
    display: flex;
    justify-content: center;
}
.icons-container>img{
    width: 30px;
   margin-top: 20px;
   margin-right: 5px;
   
}


/*rotate animation*/
#rot{
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#inverse-rotation{
    animation-name: inverse-rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform:rotateZ(0deg)}
    to{transform:rotateZ(360deg)}
}
@keyframes inverse-rotation{
    from {transform:rotateZ(0deg)}
    to{transform:rotateZ(-360deg)}
}




@media only screen and (min-width:321px)and (max-width:620px){

   

    .portada-container>h1 {
     
        color: #fff;
        font-size: 30px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    }
    
    .portada-container>p {
        
        color: #fff;
        font-size: 15px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    
    }
    .btn{
        display: flex;
        
    }

    .projects-btn{
        width: 60px;
        height: 35px;
        top:67%; 
        
    }

    .projects-btn>h4{
     
         font-size: 10px;
         color: rgb(249, 249, 249);
        
      
     } 
     /*TIPEIT CURSOR*/
.typeit-cursor{
    --ti-cursor-font-size: 15px;
}


}
@media (max-width: 600px) and (orientation: landscape) {
    .projects-btn{
        display: none;
        width: 60px;
        height: 35px;
        top:67%;
        
    }

    .projects-btn>h4{
     
         font-size: 10px;
         color: rgb(249, 249, 249);
        
      
     } 
}



@media (max-width:320px){

    .portada-container>h1 {
    
        color: #fff;
        font-size: 15px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    }
    
    .portada-container>p {
        
        color: #fff;
        margin-top: 18px;
        font-size: 10px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
        
    }
    .btn{
        display: flex;
        justify-content: center;
    }

    .projects-btn{
        width: 60px;
        height: 30px;
        top: 68%;
    }
    .projects-btn>h4{
     
        font-size: 10px;
        color: rgb(249, 249, 249);
       
     
    }
     /*TIPEIT CURSOR*/
    .typeit-cursor{
        --ti-cursor-font-size: 12px;
    }
}