/*CONTACT LINKS*/


.links{
    display: flex;
    top:80%;
 
   
    
}
.links>a{
   
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    color:rgb(142, 142, 142);
    padding: 0 4px;
    font-size: 25px;
    
}
.links>a:hover{
    transition: all 0.3s ease;
    transform: scale(1.3);
    color: rgba(255, 255, 255, 0.337);
}


@media only screen and (max-width:768px) {
    .links>a{
        font-size:20px;
    }
}

@media only screen and (min-width:301px)and (max-width:620px){
    .links{ 
        top:75%;
    }
}